In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_df = pd.read_csv(mouse_drug_data_to_load)
clinical_df =  pd.read_csv(clinical_trial_data_to_load)

# Combine the data into a single dataset
combine_df = pd.merge(mouse_df, clinical_df,how='outer', on='Mouse ID')
combine_df.head()

# Display the data table for preview
organize_df=combine_df[["Mouse ID","Timepoint","Tumor Volume (mm3)","Metastatic Sites","Drug"]]
organize_df.head(20)

   Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites      Drug
0      f234          0           45.000000                 0  Stelasyn
1      f234          5           47.313491                 0  Stelasyn
2      f234         10           47.904324                 0  Stelasyn
3      f234         15           48.735197                 1  Stelasyn
4      f234         20           51.112713                 2  Stelasyn
5      f234         25           52.178602                 2  Stelasyn
6      f234         30           56.873817                 2  Stelasyn
7      f234         35           57.748758                 2  Stelasyn
8      x402          0           45.000000                 0  Stelasyn
9      x402          5           46.327570                 1  Stelasyn
10     x402         10           46.886962                 1  Stelasyn
11     x402         15           49.119948                 1  Stelasyn
12     x402         20           50.414750                 2  Stelasyn
13     x402         25           52.431737                 2  Stelasyn
14     x402         30           54.351585                 3  Stelasyn
15     x402         35           55.240962                 3  Stelasyn
16     x402         40           56.691723                 3  Stelasyn
17     x402         45           61.619606                 3  Stelasyn
18     a492          0           45.000000                 0  Stelasyn
19     a492          5           46.409143                 0  Stelasyn

## Tumor Response to Treatment

In [2]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
tumor_group=organize_df.groupby(["Drug","Timepoint"])
tumor_group

# Convert to DataFrame

# Preview DataFrame
new_df = pd.DataFrame(tumor_group["Tumor Volume (mm3)"].mean())
new_df.reset_index()
new_df.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325

In [3]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
#tumor_sem = tumor_group.sem()
# Convert to DataFrame
#tumor_sem_df= pd.DataFrame(tumor_sem)
# Preview DataFrame
#tumor_sem_df.reset_index(inplace=True)
#tumor_sem_df.head()
new_df1 = pd.DataFrame(
    tumor_group["Tumor Volume (mm3)"].sem())
new_df1.reset_index(inplace=True)
new_df1.head(10)

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0            0.000000
1  Capomulin          5            0.448593
2  Capomulin         10            0.702684
3  Capomulin         15            0.838617
4  Capomulin         20            0.909731
5  Capomulin         25            0.881642
6  Capomulin         30            0.934460
7  Capomulin         35            1.052241
8  Capomulin         40            1.223608
9  Capomulin         45            1.223977

In [4]:
# Minor Data Munging to Re-Format the Data Frames
#for i in range(0, len(new_df1)):
  #  print(new_df1.iloc[i]['Drug' =='Capomulin'], new_df1.iloc[i]['Drug'=='Ceftamin'])
# Preview that Reformatting worked
tumor_pivot = pd.pivot_table(new_df1, index=["Timepoint"], columns=["Drug"])
tumor_pivot

          Tumor Volume (mm3)                                          \
Drug               Capomulin  Ceftamin Infubinol  Ketapril  Naftisol
Timepoint
0                   0.000000  0.000000  0.000000  0.000000  0.000000
5                   0.448593  0.164505  0.235102  0.264819  0.202385
10                  0.702684  0.236144  0.282346  0.357421  0.319415
15                  0.838617  0.332053  0.357705  0.580268  0.444378
20                  0.909731  0.359482  0.476210  0.726484  0.595260
25                  0.881642  0.439356  0.550315  0.755413  0.813706
30                  0.934460  0.490620  0.631061  0.934121  0.975496
35                  1.052241  0.692248  0.984155  1.127867  1.013769
40                  1.223608  0.708505  1.055220  1.158449  1.118567
45                  1.223977  0.902358  1.144427  1.453186  1.416363


Drug        Placebo  Propriva  Ramicane  Stelasyn Zoniferol
Timepoint
0          0.000000  0.000000  0.000000  0.000000  0.000000
5          0.218091  0.231708  0.482955  0.239862  0.188950
10         0.402064  0.376195  0.720225  0.433678  0.263949
15         0.614461  0.466109  0.770432  0.493261  0.370544
20         0.839609  0.555181  0.786199  0.621889  0.533182
25         1.034872  0.577401  0.746991  0.741922  0.602513
30         1.218231  0.746045  0.864906  0.899548  0.800043
35         1.287481  1.084929  0.967433  1.003186  0.881426
40         1.370634  1.564779  1.128445  1.410435  0.998515
45         1.351726  1.888586  1.226805  1.576556  1.003576

In [5]:
# Generate the Plot (with Error Bars)

# Save the Figure
#plt.figure(figsize=(20,3))
#plt.bar(x_axis, new_df1["Tumor Volume (mm3)"], color='r', alpha=0.5, align="edge")
#plt.xticks(tick_locations, new_df1["Timepoint"], rotation="vertical")
x_axis = np.arange(0, len(new_df1), 1)

In [6]:
# Show the Figure
plt.show()

## Metastatic Response to Treatment

In [7]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 
tumor_group=organize_df.groupby(["Drug","Timepoint"])
tumor_group

# Convert to DataFrame

# Preview DataFrame
met_df = pd.DataFrame(tumor_group["Metastatic Sites"].mean())
met_df.reset_index()
met_df.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [8]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

In [18]:
# Minor Data Munging to Re-Format the Data Frames
met_pivot = pd.pivot_table(met_df, index=["Timepoint"], columns=["Drug"])
met_pivot
# Preview that Reformatting worked

          Metastatic Sites                                                    \
Drug             Capomulin  Ceftamin Infubinol  Ketapril  Naftisol   Placebo
Timepoint
0                 0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
5                 0.160000  0.380952  0.280000  0.304348  0.260870  0.375000
10                0.320000  0.600000  0.666667  0.590909  0.523810  0.833333
15                0.375000  0.789474  0.904762  0.842105  0.857143  1.250000
20                0.652174  1.111111  1.050000  1.210526  1.150000  1.526316
25                0.818182  1.500000  1.277778  1.631579  1.500000  1.941176
30                1.090909  1.937500  1.588235  2.055556  2.066667  2.266667
35                1.181818  2.071429  1.666667  2.294118  2.266667  2.642857
40                1.380952  2.357143  2.100000  2.733333  2.466667  3.166667
45                1.476190  2.692308  2.111111  3.363636  2.538462  3.272727


Drug       Propriva  Ramicane  Stelasyn Zoniferol
Timepoint
0          0.000000  0.000000  0.000000  0.000000
5          0.320000  0.120000  0.240000  0.166667
10         0.565217  0.250000  0.478261  0.500000
15         0.764706  0.333333  0.782609  0.809524
20         1.000000  0.347826  0.952381  1.294118
25         1.357143  0.652174  1.157895  1.687500
30         1.615385  0.782609  1.388889  1.933333
35         2.300000  0.952381  1.562500  2.285714
40         2.777778  1.100000  1.583333  2.785714
45         2.571429  1.250000  1.727273  3.071429

In [10]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

## Survival Rates

In [17]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)
tumor_group=organize_df.groupby(["Drug","Timepoint"])
tumor_group

# Convert to DataFrame

# Preview DataFrame
mice_df = pd.DataFrame(tumor_group["Mouse ID"].count())
#mice_df.reset_index()
mice_df.head()
# Convert to DataFrame

# Preview DataFrame

                     Mouse ID
Drug      Timepoint
Capomulin 0                25
          5                25
          10               25
          15               24
          20               23

In [16]:
# Minor Data Munging to Re-Format the Data Frames
mice_pivot = pd.pivot_table(mice_df, index=["Timepoint"], columns=["Drug"])
mice_pivot
# Preview the Data Frame

           Mouse ID                                                        \
Drug      Capomulin Ceftamin Infubinol Ketapril Naftisol Placebo Propriva
Timepoint
0                25       25        25       25       25      25       26
5                25       21        25       23       23      24       25
10               25       20        21       22       21      24       23
15               24       19        21       19       21      20       17
20               23       18        20       19       20      19       17
25               22       18        18       19       18      17       14
30               22       16        17       18       15      15       13
35               22       14        12       17       15      14       10
40               21       14        10       15       15      12        9
45               21       13         9       11       13      11        7


Drug      Ramicane Stelasyn Zoniferol
Timepoint
0               25       26        25
5               25       25        24
10              24       23        22
15              24       23        21
20              23       21        17
25              23       19        16
30              23       18        15
35              21       16        14
40              20       12        14
45              20       11        14

In [13]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

## Summary Bar Graph

In [14]:
# Calculate the percent changes for each drug

# Display the data to confirm

In [15]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure